*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

#fixed {
	position: fixed;
	width: 100%;
	height: 140px;
	z-index: 1000;
	top: 0px;
}

#header {
	background-image: url(./img/background-header.jpg);
	background-size: cover;
	position: relative;
	background-position: bottom;
	height: 100px;
	color: white;
}

.programming {
	position: absolute;
	font-weight: bold;
	font-size: 90px;
	left: 1%;
	top: 50%;
	transform: translateY(-50%);
}

.contact1{
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	left: 80%;
	top: 2%;
}

#contact {
	font-size: 20px;
}

.contact-img {
	height: 20px;
	padding-top: 5px;
	width: 15px;
}

ul {
	list-style-type: none;
}

.title {
	position: absolute;
	font-size: 45px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.header-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #8F6400;
}

.header-menu ul{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

.menu {
	display: inline;
	margin: 0px 10px;
	padding: 0px 15px;
	font-size: 20px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.menu:hover {
	background-color: #BF8704;
	font-weight: bold;
	padding: 8px 15px;
	border-radius: 5px;
}

.dropdown1 {
	margin-top: 62px;
	display: none;
	font-size: 20px;
	z-index: -1;
}

.dropdown:hover .dropdown1 {
	width: 140px;
	display: block;
}

.menu1 {
	padding: 8px;
	margin-top: 3px;
	position: relative;
	right: 2px;
	background-color: #8F6400;
	border-radius: 5px;
}

.menu1:hover {
	background-color: #BF8704;
}

#educations,#introduction, #experiences, #certificates, #publications, #projects, #productions {
	height: 140px;
	width: 100px;
}

.padding-foot {
	padding-bottom: 50px;
}

#main {
	position: relative;
	top: 140px;
	background-image: url(./img/background-layout.jpg);
	width: auto;
}

h1, h2 {
	background-color: #CC8439;
	font-weight: bold;
}

section {
	width: 100%;
	height: auto;
	text-align: center;
}

.foto-profile {
	float: left;
	margin: 10px;
}

.sub-section {
	padding: 0px 300px;;
	width: 100%;
	height: auto;
}

.artikel-profile {
	padding: 0px 10px;
	background-color: #E6BE75;
	text-indent: 40px;
	text-align: left;
	text-align: justify;
}

p {
	font-size: 16px;
}

table {
	margin-top: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-collapse: collapse;	
}

table thead th, table tbody th, tr, td {
	padding: 10px 20px;
	background-color: #E6BE75;
	border: 2px solid black;
}

table {
	width: 750px;
}

table thead {
	width: auto;
}

table .job-des {
	width: 100%;
	display: block;
	height: 250px;
	overflow: auto;
	width: 100%;
	border: none;
	border-right: 2px solid black;
}

.job-des {
	text-align: left;
}

.indent {
	margin-left: 15px;
}

.certificates-containers {
	display: grid;
	width: 100%;
	height: 500px;
	grid-template: repeat(2, 200px)/ repeat(4, 200px);
	grid-gap: 10% 5%;
	justify-content: center;
	align-content: center;
}

.certificates-img {
	position: relative;
	width: 100%;
	height: 100%;
}

.certificate1 {
	position: relative;
}

.certificates-img:hover {
	transform: translate(-50%,-50%);
	height: 250px;
	width: 250px;
	transition: 1s;
	left: 50%;
	top: 50%;	
}

.box1 {
	height: 200px;
	width: 200px;
	position: absolute;
}

.padding0 {
	padding:0px;
}

.slide {
	position: relative;
	width: 100%;
	height: 100%;
}

.box {
	text-align: center;
	transition: 2s;
	padding: 10px 16px;
}

.box.naik{
	position: absolute;
    background-image: url(./img/slider-img.jpg);
    transform: translate(0px,-10px);
}

.slide:hover .box.naik {
	transform: translateY(-62px);
	opacity: 0;
}

#footer {
	width: 100%;
	background-color: #785505;
	height: 30px;
}

#footer p {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}